.about
	position relative
	z-index 10
	padding 97px 0 50px 0
	font-family $sans-content
	font-weight 300

	&--text
		text-align center
		font-size 21px
		line-height 34px
		border 3px solid rgba(0, 0, 0, .3)
		// border-top 0
		radius(74px)
		padding 55px 50px 30px
		margin 0 0 50px

		h2
			font-size 48px
			font-family $sans-serif
			margin 0 0 22px
			font-weight bold

	&--cols
		clearfix()

		&--col
			float left
			width 270px
			text-align center
			margin 0 0 0 95px

		&--col:first-child
			margin 0

		h3
			font-size 48px
			font-family $sans-serif
			margin 0 0 12px
			font-weight bold

		p
			font-size 18px
			line-height 24px


