.character
	position relative
	z-index 10
	padding 50px 0 30px

	.content_block--header
		margin 0 0 21px

	.content_block--header.m-second
		margin 0

	&--text
		text-align center
		font-size 26px
		opacity .6
		padding 0 100px
		line-height 29px
		font-family $sans-content
		margin 0 0 50px
		font-weight 300

	&--text_image
		text-align center
		font-family $sans-content
		margin 0 0 64px
		font-weight 300
		&--col
			display inline-block
			vertical-align middle
			width 280px
			font-size 26px
			line-height 29px

			p
				opacity .6

		&--col.m-center
			width 430px

		&--col.m-left
			text-align right
		&--col.m-right
			text-align left
