.content_block
	clearfix()

	&--header
		text-align center
		h2
			font-family $sans-serif
			font-size 34px
			text-transform uppercase
			display inline-block
			font-weight bold

			i
				display block
				font-family $serif
				text-transform none
				font-size 25px
				font-style normal

			b
				display block
				font-weight normal
				letter-spacing 3px
				padding 9px 0 0 0

	&--header.m-bordered
		h2
			border-bottom 2px solid #000
			padding 0 5px 13px
		

.content_block.m-blue
	background $blue
	color #fff

.content_block.m-purple
	background #c629ff
	color #fff

.content_block.m-l_blue
	background $blue
	color #fff

	.content_block--header.m-bordered
		h2
			border-color #fff
