.footer
	color #000
	position relative
	z-index 10
	a
		color #000
		text-decoration none

	a:hover
		color $blue
		text-decoration underline

	&--about
		padding 76px 0 40px
		text-align center

		.content_block--header
			margin 0 0 27px
		
		p
			font-size 21px
			line-height 34px
			margin 0 0 20px

	&--links
		clearfix()
		padding 82px 0 90px 110px
		borderbox()

	&--social
		float left
		margin 0 36px 0 0
		clearfix()
		li
			width 28px
			height 28px
			float left
			margin 0 10px 0 0

			svg
				width 28px
				height 28px
				fill #000

			a:hover
				svg
					fill $blue
	
	&--info_links
		font-size 13px
		float left
		margin 0 27px 0 0

		li
			margin 0 0 7px
			text-align right

	&--logo
		float left
		margin -31px 40px 0 5px

		img
			display block

		.m-retina
			display none

	&--nav
		float left
		clearfix()
		font-family $sans-serif
		font-weight 700
		text-transform uppercase
		font-size 13px
		line-height 20px
		margin -3px 0 0 0
		letter-spacing 1px

		&--col
			float left
			margin 0 35px 0 0


html.m-retina
	.footer--logo
		img
			display none

		img.m-retina
			display block
