.last_tweet
	height 450px
	borderbox()
	padding 78px 0 0 0
	position relative
	z-index 10

	.content_block--header
		margin 0 0 25px

	&--content
		position relative
		left 40px
		margin 0 auto
		width 716px
		height 230px

	&--tweet
		position absolute
		top 0
		left 0
		width 716px
		height 230px
		borderbox()
		z-index 1
		color #fff
		font-size 18px
		padding 60px 170px 0 70px
		text-align center

		&--header
			font-family $sans-serif
			font-weight 700
			margin 0 0 11px

			svg
				position relative
				top 2px
				margin 0 -5px 0 0

			a
				color #fff
				text-decoration none
				// clearfix()

			a:hover
				color $yellow

				svg
					fill $yellow

			time
				font-family $sans-serif
				font-weight normal
				opacity .55
				padding 0 0 0 4px

		p
			font-size 36px
			line-height 44px
			font-family $serif

			a
				color #fff
				text-decoration none

			a:hover
				color $yellow

		p.m-small
			font-size 20px
			line-height 30px
		p.m-medium
			font-size 25px
			line-height 34px
	
	&--bg
		position absolute
		top 0
		left 0
