.latest_game
	position relative
	z-index 10
	padding 30px 0 0 0
	margin-bottom 12px

	.content_block--header
		margin 0 0 30px

	&--item
		background #fff
		
		figure
			img
				display block

		&--content
			padding 20px 50px 28px
			text-align center

			h3
				font-size 30px
				margin 0 0 7px

			p
				font-size 18px
				line-height 22px
				font-family $sans-content
				font-weight 300
