.latest_games
	position relative
	z-index 10
	clearfix()
	padding 0 0 36px

	.content_block
		&--header
			padding 55px 0 0 0
			margin 0 0 50px

	&--list
		clearfix()
		// margin 0 0 37px

		li
			height 370px
			width 310px
			background #fff
			float left
			margin 0 0 34px 34px
			text-align center

			figure
				margin 0 0 31px
				img
					display block

			h3
				color $dark_blue
				font-family $sans-serif
				font-size 22px
				margin 0 13px 7px
				font-weight 700

				a
					color $dark_blue
					text-decoration none

				a:hover
					color $blue
					text-decoration underline

			p
				color #8d95a1
				font-size 14px
				line-height 17px
				margin 0 13px

		li:first-child
		li:nth-child(3n+1)
			margin 0

	&--footer
		padding 6px 0 0 0
		clearfix()
		text-align center

		.cl-btn:active
			top 4px
			box-shadow inset 0 2px 0 rgba(255, 255, 255, .72)


.latest_games.m-blue
	.content_block--header h2
		border-color #fff
	.latest_games--footer
		.cl-btn
			box-shadow inset 0 2px 0 rgba(255, 255, 255, .72), 0 4px 0 #038ff2

.latest_games.m-purple
	.content_block--header h2
		border-color #fff
	.latest_games--footer
		.cl-btn
			box-shadow inset 0 2px 0 rgba(255, 255, 255, .72), 0 4px 0 #ba29ef
