.page_nav
	font-family $sans-serif
	font-weight 700
	clear both
	clearfix()
	text-align center
	font-size 0
	li
		display inline-block
		font-size 30px
		margin 0 2px


		a
			color #fff
			display inline-block
			padding 7px 13px
			radius(20px)
			text-decoration none

		a:hover
			color #df57d5

	li.m-current
		a
			background #fff
			color #df57d5
