$dark_blue = #012549
$blue = #0196ff
$yellow = #fff601

$sans-serif = Nunito
$sans-content = Lato
$serif = Pacifico

html
body
	height 100%

body
	font-family $sans-content
	line-height 1
	font-size 14px
	min-width 1000px
	color #092c4f

a
	text-decoration none
	color $dark_blue

a:hover
	text-decoration underline
	color $blue

b
strong
	font-weight bold

i
em
	font-style italic

h1
h2
h3
h4
h5
h6
	font-family $sans-serif
	font-weight 700

input
textarea
button
	padding 0
	margin 0
	font-family Arial
	borderbox()
	
	&::-moz-focus-inner
	&::-moz-focus-inner
		border: 0
		padding: 0
