// http://ikspriter.herokuapp.com/

.sprite 
	background url("./i/sprite.png") no-repeat

btn-amazon(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (0 + y)

btn-gplay(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (-47px + y)

btn-astore(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (-94px + y)

empty-cart(x = 0, y = 0)
	@extend .sprite
	background-position (-176px + x) (0 + y)

game-video-btn(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (-141px + y)

products-promo-rarr(x = 0, y = 0)
	@extend .sprite
	background-position (-139px + x) (-94px + y)

promo-banner-next-hover(x = 0, y = 0)
	@extend .sprite
	background-position (-101px + x) (-141px + y)

promo-banner-prev(x = 0, y = 0)
	@extend .sprite
	background-position (-126px + x) (-141px + y)

promo-banner-prev-hover(x = 0, y = 0)
	@extend .sprite
	background-position (-151px + x) (-141px + y)

products-promo-larr(x = 0, y = 0)
	@extend .sprite
	background-position (-176px + x) (-141px + y)

promo-banner-next(x = 0, y = 0)
	@extend .sprite
	background-position (-201px + x) (-141px + y)

header-cart-ico(x = 0, y = 0)
	@extend .sprite
	background-position (-176px + x) (-113px + y)

header-cart-ico-active(x = 0, y = 0)
	@extend .sprite
	background-position (-204px + x) (-113px + y)

radio(x = 0, y = 0)
	@extend .sprite
	background-position (-226px + x) (-141px + y)

radio-active(x = 0, y = 0)
	@extend .sprite
	background-position (-252px + x) (-141px + y)

add-to-cart(x = 0, y = 0)
	@extend .sprite
	background-position (-232px + x) (-113px + y)

select-arr(x = 0, y = 0)
	@extend .sprite
	background-position (-254px + x) (-113px + y)

download-pdf(x = 0, y = 0)
	@extend .sprite
	background-position (-101px + x) (-185px + y)

select-arr-up(x = 0, y = 0)
	@extend .sprite
	background-position (-226px + x) (-168px + y)

sizes-nav(x = 0, y = 0)
	@extend .sprite
	background-position (-156px + x) (-47px + y)

slider-nav-play(x = 0, y = 0)
	@extend .sprite
	background-position (-156px + x) (-58px + y)
