// http://iksprite2xr.herokuapp.com/

.sprite2x
	background url("./i/sprite@2x.png") no-repeat
	-webkit-background-size 287px 240px
	background-size 287px 240px

r-btn-amazon(x = 0, y = 0)
	@extend .sprite2x
	background-position (0 + x) (0 + y)

r-btn-gplay(x = 0, y = 0)
	@extend .sprite2x
	background-position (0 + x) (-93px/2 + y)

r-btn-astore(x = 0, y = 0)
	@extend .sprite2x
	background-position (0 + x) (-187px/2 + y)

r-empty-cart(x = 0, y = 0)
	@extend .sprite2x
	background-position (-351px/2 + x) (0 + y)

r-game-video-btn(x = 0, y = 0)
	@extend .sprite2x
	background-position (0 + x) (-280px/2 + y)

r-promo-banner-next(x = 0, y = 0)
	@extend .sprite2x
	background-position (-277px/2 + x) (-187px/2 + y)

r-promo-banner-prev-hover(x = 0, y = 0)
	@extend .sprite2x
	background-position (-201px/2 + x) (-280px/2 + y)

r-promo-banner-prev(x = 0, y = 0)
	@extend .sprite2x
	background-position (-250px/2 + x) (-280px/2 + y)

r-promo-banner-next-hover(x = 0, y = 0)
	@extend .sprite2x
	background-position (-299px/2 + x) (-280px/2 + y)

r-products-promo-rarr(x = 0, y = 0)
	@extend .sprite2x
	background-position (-348px/2 + x) (-280px/2 + y)

r-products-promo-larr(x = 0, y = 0)
	@extend .sprite2x
	background-position (-397px/2 + x) (-280px/2 + y)

r-header-cart-ico-active(x = 0, y = 0)
	@extend .sprite2x
	background-position (-350px/2 + x) (-225px/2 + y)

r-header-cart-ico(x = 0, y = 0)
	@extend .sprite2x
	background-position (-406px/2 + x) (-225px/2 + y)

r-radio(x = 0, y = 0)
	@extend .sprite2x
	background-position (-446px/2 + x) (-280px/2 + y)

r-radio-active(x = 0, y = 0)
	@extend .sprite2x
	background-position (-498px/2 + x) (-280px/2 + y)

r-add-to-cart(x = 0, y = 0)
	@extend .sprite2x
	background-position (-461px/2 + x) (-225px/2 + y)

r-select-arr(x = 0, y = 0)
	@extend .sprite2x
	background-position (-504px/2 + x) (-225px/2 + y)

r-select-arr-up(x = 0, y = 0)
	@extend .sprite2x
	background-position (-446px/2 + x) (-333px/2 + y)

r-download-pdf(x = 0, y = 0)
	@extend .sprite2x
	background-position (-201px/2 + x) (-367px/2 + y)

r-sizes-nav(x = 0, y = 0)
	@extend .sprite2x
	background-position (-311px/2 + x) (-93px/2 + y)

r-slider-nav-play(x = 0, y = 0)
	@extend .sprite2x
	background-position (-312px/2 + x) (-114px/2 + y)

